body {
  font-family: Arial, sans-serif;
  background-color: hsl(20, 98%, 90%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  color: rgb(75, 73, 73);
  font-size: 10px;
  font-weight: 400;
  font-family: cursive;
}
h3 {
  color: rgb(29, 25, 25);
  font-size: xx-large;
  font-weight: 400;
  font-family: cursive;
}
#Gabb {
  color: rgb(11, 1, 1);
  font-size: larger;
  font-weight: 700;
  font-family: cursive;
}

.product-card {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  display: flex;
  width: 39%;
  overflow: hidden;
}

.product-image {
  flex: 1;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-details {
  flex: 1;
  padding: 20px;
}

.product-title {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.product-description {
  font-size: 14px;
  color: #080707;
  margin-top: 10px;
}

.product-price {
  font-size: 20px;
  margin-top: 50px;
}

.product-button {
  background-color: #053815;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 90px;
}

.product-button:hover {
  background-color: #4ac366;
}

@media (min-width: 380px) {
  .product-card {
    max-width: 600px;
    font-size: small;
  }
}
@media screen and (max-width: 600px) {
  .product-card {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .product-card {
    max-width: 600px;
  }
}
